.img{
    
    width: 100%;
    min-height: 50vh;
     background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;


}